{{#if showDatePicker}}
  {{tt-date-picker
    viewDate=viewDate
    displayMonths=true
    class="calendar-date-select"
    _setMonth=(action setMonth)
    close=(action toggleProperty "showDatePicker")}}
{{/if}}
<header>
  <div class="top-panel">
    <div class="date" {{action toggleProperty "showDatePicker"}}>{{monthName}} {{year}}</div>
    {{tt-date-navigation back=(action prevMonth) today=(action setToday) forward=(action nextMonth)}}
  </div>
  <div class="day-names-row">
    {{#each dayNames as |dayName|}}
      <div class="day-cell">
        <span class="day-name">{{dayName}}</span>
      </div>
    {{/each}}
  </div>

</header>
<div class="body calendar-month">
  {{#each weeks as |row|}}

    {{tt-calendar-week-row
      days=row
      events=sortedEvents
      selectedEvent=selected
      eventComponent=eventComponent
      select=(action select)}}

  {{/each}}
</div>
