<header>
  <div class="top-panel">
    <div class="date">{{monthName}} {{year}}</div>
    {{#uic-button-group class="navigation extra-small"}}
      {{#uic-button action="prevMonth"}}{{svg-triangle direction="left"}}{{/uic-button}}
      {{#uic-button action="today"}}Today{{/uic-button}}
      {{#uic-button action="nextMonth"}}{{svg-triangle direction="right"}}{{/uic-button}}
    {{/uic-button-group}}
  </div>
  <div class="day-names-row">
    {{#each dayNames as |dayName|}}
      <div class="day-cell">
        <span class="day-name">{{dayName}}</span>
      </div>
    {{/each}}
  </div>

</header>
<div class="body calendar-month">
  {{#each weeks as |row|}}

    {{tt-calendar-week-row
      days=row
      events=sortedEvents
      selectedEvent=selected
      eventComponent=eventComponent
      select=(action select)}}

  {{/each}}
</div>
