<div class="header">
  <div class="top-panel">
    {{uic-close-button action="close"}}
    <div class="date">{{monthName}} {{year}}</div>
  	<div class="navigation">
  		<button {{action "prevMonth"}}>{{svg-triangle direction="left"}}</button>
  		<button {{action "today"}}>Today</button>
  		<button {{action "nextMonth"}}>{{svg-triangle direction="right"}}</button>
  	</div>
  </div>
</div>
<table border="0">
  <tbody class="days">
    <tr class="day-letters">
      {{#each daysOfWeek as |day|}}
        <td align="right">{{day.name}}</td>
      {{/each}}
    </tr>
  </tbody>
  <tbody class="day-list" valign="center">
    {{#each weeks as |week|}}
      <tr>
        {{#each week as |day index|}}
          {{tt-picker-item
            model=day
            class="day"
            selectedDate=selectedDate
            select="selectDay"}}
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
