<h2><code>&#123;&#123;date-picker&#125;&#125;</code></h2>

<p>You can create a date-picker with the DatePickerComponent.</p>
{{code-snippet name="date-picker.hbs"}}

<div class="date-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET date-picker }}
    {{date-picker}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>

<hr>

<h2>select</h2>
<p>Provide an action to the date-picker's <code>select</code> action</p>

<p>controller/component.js</p>
{{code-snippet name="date-picker-actions.js"}}

<p>template.hbs</p>
{{code-snippet name="date-picker-select.hbs"}}


<div class="date-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET date-picker-select }}
    {{date-picker select="selectDate"}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>
<p><code>selection</code>: {{selection}}</p>

<hr>

<h2>selectedDate</h2>

<p>
  To highlight the selected date, you can bind the <code>selectedDate</code>
  property to the <code>selection</code>.
</p>

{{code-snippet name="date-picker-selected-date.hbs"}}

<div class="date-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET date-picker-selected-date }}
    {{date-picker selectedDate=selection select="selectDate"}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>
<p><code>selection</code>: {{selection}}</p>

<hr>

<h2>output</h2>

<p>
  You can choose to output the date as a javascript <code>Date</code> object (the
  default), a timestamp, or an <code>Ember.Object</code> with properties for
  <code>year</code>, <code>month</code> and <code>date</code>.
</p>

<ul>
  <li>
    <h3><code>output="date"</code></h3>
    <p>A javascript <code>Date()</code> object. This is the default. (and the output is the same as the two examples above)</p>
    {{code-snippet name="date-picker-output-date.hbs"}}

    <div class="date-picker-container">
      {{#lazy-load}}
        {{! BEGIN-SNIPPET date-picker-output-date }}
        {{date-picker output="date" select="selectDate"}}
        {{! END-SNIPPET }}
      {{/lazy-load}}
    </div>
    <p><code>selection</code>: {{selection}}</p>
    <hr>
  </li>
  <li>
    <h3><code>output="timestamp"</code></h3>
    <p>An Integer timestamp.  Number of seconds.</p>
    {{code-snippet name="date-picker-output-timestamp.hbs"}}

    <div class="date-picker-container">
      {{#lazy-load}}
        {{! BEGIN-SNIPPET date-picker-output-timestamp }}
        {{date-picker output="timestamp" select="selectDate"}}
        {{! END-SNIPPET }}
      {{/lazy-load}}
    </div>
    <p><code>selection</code>: {{selection}}</p>
    <hr>
  </li>
  <li>

    <h3><code>output="object"</code></h3>
    <p>An <code>Ember.Object</code> with <code>date</code>, <code>month</code> and <code>year</code> properties.</p>
    {{code-snippet name="date-picker-output-object.hbs"}}

    <div class="date-picker-container">
      {{#lazy-load}}
        {{! BEGIN-SNIPPET date-picker-output-object }}
        {{date-picker output="object" select="selectDate"}}
        {{! END-SNIPPET }}
      {{/lazy-load}}
    </div>
    <p>
      <code>selection.date</code>: {{selection.date}}<br>
      <code>selection.month</code>: {{selection.month}} (<code>month</code> counts from 0)<br>
      <code>selection.year</code>: {{selection.year}}
    </p>
  </li>
</ul>

<hr>

<h2>close</h2>
{{#lazy-load}}
  {{date-picker-close}}
{{/lazy-load}}
