<h2><code>&#123;&#123;input-time&#125;&#125;</code></h2>

<p>
  The InputTimeComponent provides an <code>input</code> element and a {{#link-to 'time-picker'}}TimePickerComponent{{/link-to}} in one.
</p>

<h3>Basic use</h3>

{{code-snippet name="input-time.hbs"}}

{{! BEGIN-SNIPPET input-time }}
{{input-time}}
{{! END-SNIPPET }}

<h3>Advanced use</h3>

{{code-snippet name="input-time-advanced.hbs"}}

<h2>Properties</h2>

<ul>
  <li>value</li>
  <li>displayFormat</li>
  <li>pickerDisplayFormat</li>
  <li>format</li>
  <li>timeInterval</li>
  <li>setPositionByCursor</li>
  <li>to</li>
  <li>scrollToSelectedTime</li>
  <li>placeholder</li>
  <li>disabled</li>
</ul>

<hr>

<h2>value</h2>

<p>
  You can bind to the <code>value</code> property of the InputTimeComponent as you would with any HTML <code>input</code> element.
</p>

{{code-snippet name="input-time-value.hbs"}}

{{! BEGIN-SNIPPET input-time-value }}
{{input-time value=time}}
{{! END-SNIPPET }}

<p>
  <code>time</code>:{{time}}
</p>

<hr>

<h2>displayFormat</h2>

<p>
  Set the <code>displayFormat</code> property of the InputTimeComponent.
</p>

{{code-snippet name="input-time-display-format.hbs"}}

{{! BEGIN-SNIPPET input-time-display-format }}
{{input-time displayFormat="HH:mm"}}
{{! END-SNIPPET }}

{{code-snippet name="input-time-display-format-example.hbs"}}

{{! BEGIN-SNIPPET input-time-display-format-example }}
{{input-time displayFormat="h:mm a"}}
{{! END-SNIPPET }}

<hr>

<h2>pickerDisplayFormat</h2>

<p>
  The <code>pickerDisplayFormat</code> property allows you to set the <code>displayFormat</code> property of the TimePickerComponent.
</p>

{{code-snippet name="input-time-picker-format.hbs"}}

{{! BEGIN-SNIPPET input-time-picker-format }}
{{input-time pickerDisplayFormat="HH:mm"}}
{{! END-SNIPPET }}

{{code-snippet name="input-time-picker-format-example.hbs"}}


{{! BEGIN-SNIPPET input-time-picker-format-example }}
{{input-time pickerDisplayFormat="h:mm a"}}
{{! END-SNIPPET }}

<hr />

<h2>format</h2>

<p>
  Set the <code>format</code> property of the InputDateComponent.
</p>

<ul>
  <li>
    <h3>date</h3>

    <p>This is the default.</p>

    {{code-snippet name="input-time-format-date.hbs"}}

    {{! BEGIN-SNIPPET input-time-format-date }}
    {{input-time value=date format="date"}}
    {{! END-SNIPPET }}

    <p>
      date: {{date}}
    </p>
  </li>
  <li>
    <h3>timestamp</h3>

    {{code-snippet name="input-time-format-timestamp.hbs"}}

    {{! BEGIN-SNIPPET input-time-format-timestamp }}
    {{input-time value=timestamp format="timestamp"}}
    {{! END-SNIPPET }}

    <p>
      timestamp: {{timestamp}}
    </p>
  </li>
  <li>
    <h3>object</h3>

    {{code-snippet name="input-time-format-object.hbs"}}

    {{! BEGIN-SNIPPET input-time-format-object }}
    {{input-time value=obj format="object"}}
    {{! END-SNIPPET }}

    <p>
      <div>obj.hour: {{obj.hour}}</div>
      <div>obj.minute: {{obj.minute}}</div>
    </p>
  </li>
</ul>


<hr>

<h2>timeInterval</h2>

<p>
  This is the time interval used by the TimePickerComponent. The default is 30 minutes.  Values between 1 and 59 are valid.
</p>

{{code-snippet name="input-time-interval.hbs"}}

<div class="time-interval-example">
{{! BEGIN-SNIPPET input-time-interval }}
{{input type="number" value=timeInterval}} minutes

{{input-time value=time timeInterval=timeInterval}}
{{! END-SNIPPET }}
</div>

<p>
  <code>time</code>:{{time}}
</p>

<hr>

<h2>setPositionByCursor</h2>

<p>
  Set the <code>setPositionByCursor</code> attribute to <code>true</code> to have
  the time picker positioned at the mouse position.  In this mode the time picker
  css <code>position</code> attribute is set to <code>fixed</code> and will not
  move with the page when the page is scrolled.
</p>

<p>
  When this attribute is set to <code>false</code>, the default, then the time
  picker will be positioned at the bottom/left corner of the destination element.
  In this mode the time picker css <code>position</code> attribute is set to
  <code>absolute</code> and will move with the page when the page is scrolled.
</p>

{{code-snippet name="input-time-position-by-cursor-example.hbs"}}

{{! BEGIN-SNIPPET input-time-position-by-cursor-example }}
{{input-time setPositionByCursor=true}}
{{! END-SNIPPET }}

<hr>

<h2>to</h2>

<p>
  The time picker can be rendered into another DOM element
  using <a href="https://github.com/yapplabs/ember-wormhole"><code>ember-wormhole</code></a>.
</p>
<p>First, add a html element to the DOM and give it a unique <code>id</code></p>

{{code-snippet name="time-picker-container.hbs"}}

{{! BEGIN-SNIPPET time-picker-container }}
<div id="time-picker-container"></div>
{{! END-SNIPPET }}

<p>
  Then specify the element id to the <code>to</code> property of the <code>InputTimeComponent</code>.
</p>
{{code-snippet name="input-time-destinationElementId.hbs"}}

{{! BEGIN-SNIPPET input-time-destinationElementId }}
{{input-time to="time-picker-container"}}
{{! END-SNIPPET }}

<p>This will position the time picker at the bottom/left corner of the destination element specified.</p>

<p>
  You can set the <code>setPositionByCursor</code> attribute to <code>true</code>
  to have the time picker positioned at the mouse position.
</p>

{{code-snippet name="input-time-position-by-cursor.hbs"}}

{{! BEGIN-SNIPPET input-time-position-by-cursor }}
{{input-time setPositionByCursor=true to="time-picker-container"}}
{{! END-SNIPPET }}

<p>
  For more information on <code>ember-wormhole</code>, click <a href="https://github.com/yapplabs/ember-wormhole">here</a>.
</p>

<hr>

<h2>scrollToSelectedTime</h2>

<p>
  When <code>true</code>, the default, the time picker will scroll to display
  the selected time when inserted into the DOM.  If that is not the desired behaviour
  then you can set <code>scrollToSelectedTime</code> to <code>false</code>.
</p>

{{code-snippet name="input-time-scroll-false.hbs"}}

{{! BEGIN-SNIPPET input-time-scroll-false }}
{{input-time scrollToSelectedTime=false}}
{{! END-SNIPPET }}

<hr>

<h2>placeholder</h2>

<p>
  Set the <code>placeholder</code> attribute of the InputTimeComponent.
</p>

{{code-snippet name="input-time-placeholder.hbs"}}

{{! BEGIN-SNIPPET input-time-placeholder }}
{{input-time placeholder="Time..."}}
{{! END-SNIPPET }}

<hr>

<h2>disabled</h2>

{{code-snippet name="input-time-disabled.hbs"}}

{{! BEGIN-SNIPPET input-time-disabled }}
{{input-time disabled=true}}
{{! END-SNIPPET }}

<div class="time-picker-container"></div>
