<h2><code>&#123;&#123;input-date&#125;&#125;</code></h2>

<p>
  The InputDateComponent provides an <code>input</code> element and a {{#link-to 'date-picker'}}DatePickerComponent{{/link-to}} in one.
</p>

<h3>Basic use</h3>

{{code-snippet name="input-date.hbs"}}

{{! BEGIN-SNIPPET input-date }}
{{input-date}}
{{! END-SNIPPET }}

<h3>Advanced use</h3>

{{code-snippet name="input-date-advanced.hbs"}}

<hr>

<h2>value</h2>

<p>
  You can bind to the <code>value</code> property of the InputDateComponent as you would with any HTML <code>input</code> element.
</p>

{{code-snippet name="input-date-value.hbs"}}

{{! BEGIN-SNIPPET input-date-value }}
{{input-date value=date}}
{{! END-SNIPPET }}

<p>
  <code>date</code>:{{date}}
</p>

<hr>

<h2>displayFormat</h2>

<p>
  Set the <code>displayFormat</code> property of the InputDateComponent.
</p>

{{code-snippet name="input-date-display-format.hbs"}}

{{! BEGIN-SNIPPET input-date-display-format }}
{{input-date displayFormat="DD/MM/YYYY"}}
{{! END-SNIPPET }}

{{code-snippet name="input-date-display-format-example.hbs"}}

{{! BEGIN-SNIPPET input-date-display-format-example }}
{{input-date displayFormat="MMM Do YY"}}
{{! END-SNIPPET }}

<hr>

<h2>disabled</h2>

<p>
  Set the <code>disabled</code> property of the InputDateComponent.
</p>

{{code-snippet name="input-date-disabled.hbs"}}

{{! BEGIN-SNIPPET input-date-disabled }}
{{input-date disabled=true}}
{{! END-SNIPPET }}

<div class="date-picker-container"></div>
