<h2><code>&#123;&#123;input-time&#125;&#125;</code></h2>

<p>
  The InputTimeComponent provides an <code>input</code> element and a {{#link-to 'time-picker'}}TimePickerComponent{{/link-to}} in one.
</p>

<h3>Basic use</h3>

{{code-snippet name="input-time.hbs"}}

{{! BEGIN-SNIPPET input-time }}
{{input-time}}
{{! END-SNIPPET }}

<h3>Advanced use</h3>

{{code-snippet name="input-time-advanced.hbs"}}

<hr>

<h2>value</h2>

<p>
  You can bind to the <code>value</code> property of the InputTimeComponent as you would with any HTML <code>input</code> element.
</p>

{{code-snippet name="input-time-value.hbs"}}

{{! BEGIN-SNIPPET input-time-value }}
{{input-time value=time}}
{{! END-SNIPPET }}

<p>
  <code>time</code>:{{time}}
</p>

<hr>

<h2>displayFormat</h2>

<p>
  Set the <code>displayFormat</code> property of the InputTimeComponent.
</p>

{{code-snippet name="input-time-display-format.hbs"}}

{{! BEGIN-SNIPPET input-time-display-format }}
{{input-time displayFormat="HH:mm"}}
{{! END-SNIPPET }}

{{code-snippet name="input-time-display-format-example.hbs"}}

{{! BEGIN-SNIPPET input-time-display-format-example }}
{{input-time displayFormat="h:mm a"}}
{{! END-SNIPPET }}

<hr>

<h2>pickerDisplayFormat</h2>

<p>
  The <code>pickerDisplayFormat</code> property allows you to set the <code>displayFormat</code> property of the TimePickerComponent.
</p>

{{code-snippet name="input-time-picker-format.hbs"}}

{{! BEGIN-SNIPPET input-time-picker-format }}
{{input-time pickerDisplayFormat="HH:mm"}}
{{! END-SNIPPET }}

{{code-snippet name="input-time-picker-format-example.hbs"}}


{{! BEGIN-SNIPPET input-time-picker-format-example }}
{{input-time pickerDisplayFormat="h:mm a"}}
{{! END-SNIPPET }}


<hr>

<h2>timeInterval</h2>

<p>
  This is the time interval used by the TimePickerComponent. The default is 30 minutes.  Values between 1 and 59 are valid.
</p>

{{code-snippet name="input-time-interval.hbs"}}

<div class="time-interval-example">
{{! BEGIN-SNIPPET input-time-interval }}
{{input type="number" value=timeInterval}} minutes

{{input-time value=time timeInterval=timeInterval}}
{{! END-SNIPPET }}
</div>

<p>
  <code>time</code>:{{time}}
</p>

<hr>

<h2>disabled</h2>

{{code-snippet name="input-time-disabled.hbs"}}

{{! BEGIN-SNIPPET input-time-disabled }}
{{input-time disabled=true}}
{{! END-SNIPPET }}

<div class="time-picker-container"></div>
