<h2><code>&#123;&#123;input-time&#125;&#125;</code></h2>

<p>
  The InputTimeComponent provides an <code>input</code> element and a {{#link-to 'time-picker'}}TimePickerComponent{{/link-to}} in one.
</p>

{{code-snippet name="input-time.hbs"}}

{{! BEGIN-SNIPPET input-time }}
{{input-time}}
{{! END-SNIPPET }}

<hr>

<h2>value</h2>

<p>
  You can bind to the <code>value</code> property of the InputTimeComponent as you would with any HTML <code>input</code> element.
</p>

{{code-snippet name="input-time-value.hbs"}}

{{! BEGIN-SNIPPET input-time-value }}
{{input-time value=time}}
{{! END-SNIPPET }}

<p>
  <code>time</code>:{{time}}
</p>
