<h2><code>&#123;&#123;input-date&#125;&#125;</code></h2>

<p>
  The InputDateComponent provides an <code>input</code> element and a {{#link-to 'date-picker'}}DatePickerComponent{{/link-to}} in one.
</p>

<h3>Basic use</h3>

{{code-snippet name="input-date.hbs"}}

{{! BEGIN-SNIPPET input-date }}
{{input-date}}
{{! END-SNIPPET }}

<h3>Advanced use</h3>

{{code-snippet name="input-date-advanced.hbs"}}

<h2>Properties</h2>

<ul>
  <li>value</li>
  <li>displayFormat</li>
  <li>format</li>
  <li>setPositionByCursor</li>
  <li>to</li>
  <li>placeholder</li>
  <li>disabled</li>
</ul>

<hr>

<h2>value</h2>

<p>
  You can bind to the <code>value</code> property of the InputDateComponent as you would with any HTML <code>input</code> element.
</p>

{{code-snippet name="input-date-value.hbs"}}

{{! BEGIN-SNIPPET input-date-value }}
{{input-date value=date}}
{{! END-SNIPPET }}

<p>
  <code>date</code>:{{date}}
</p>

<hr>

<h2>displayFormat</h2>

<p>
  Set the <code>displayFormat</code> property of the InputDateComponent.
</p>

{{code-snippet name="input-date-display-format.hbs"}}

{{! BEGIN-SNIPPET input-date-display-format }}
{{input-date displayFormat="DD/MM/YYYY"}}
{{! END-SNIPPET }}

{{code-snippet name="input-date-display-format-example.hbs"}}

{{! BEGIN-SNIPPET input-date-display-format-example }}
{{input-date displayFormat="MMM Do YY"}}
{{! END-SNIPPET }}

<hr>

<h2>format</h2>

<p>
  Set the <code>format</code> property of the InputDateComponent.
</p>

<ul>
  <li>
    <h3>date</h3>

    <p>This is the default.</p>

    {{code-snippet name="input-date-format-date.hbs"}}

    {{! BEGIN-SNIPPET input-date-format-date }}
    {{input-date value=date format="date"}}
    {{! END-SNIPPET }}

    <p>
      date: {{date}}
    </p>
  </li>
  <li>
    <h3>timestamp</h3>

    {{code-snippet name="input-date-format-timestamp.hbs"}}

    {{! BEGIN-SNIPPET input-date-format-timestamp }}
    {{input-date value=timestamp format="timestamp"}}
    {{! END-SNIPPET }}

    <p>
      timestamp: {{timestamp}}
    </p>
  </li>
  <li>
    <h3>object</h3>

    {{code-snippet name="input-date-format-object.hbs"}}

    {{! BEGIN-SNIPPET input-date-format-object }}
    {{input-date value=obj format="object"}}
    {{! END-SNIPPET }}

    <p>
      <div>obj.year: {{obj.year}}</div>
      <div>obj.month: {{obj.month}}</div>
      <div>obj.date: {{obj.date}}</div>
    </p>
  </li>
  <li>
    <h3>YYYY-MM-DD</h3>

    {{code-snippet name="input-date-format-custom.hbs"}}

    {{! BEGIN-SNIPPET input-date-format-custom }}
    {{input-date value=string format="YYYY-MM-DD"}}
    {{! END-SNIPPET }}

    <p>
      string: {{string}}
    </p>
  </li>
</ul>

<hr>

<h2>setPositionByCursor</h2>

<p>
  Set the <code>setPositionByCursor</code> attribute to <code>true</code> to have
  the date picker positioned at the mouse position.  In this mode the date picker
  css <code>position</code> attribute is set to <code>fixed</code> and will not
  move with the page when the page is scrolled.
</p>

<p>
  When this attribute is set to <code>false</code>, the default, then the date
  picker will be positioned at the bottom/left corner of the destination element.
  In this mode the date picker css <code>position</code> attribute is set to
  <code>absolute</code> and will move with the page when the page is scrolled.
</p>

{{code-snippet name="input-date-position-by-cursor-example.hbs"}}

{{! BEGIN-SNIPPET input-date-position-by-cursor-example }}
{{input-date setPositionByCursor=true}}
{{! END-SNIPPET }}

<hr>

<h2>to</h2>

<p>
  The date picker can be rendered into another DOM element
  using <a href="https://github.com/yapplabs/ember-wormhole"><code>ember-wormhole</code></a>.
</p>
<p>First, add a html element to the DOM and give it a unique <code>id</code></p>

{{code-snippet name="date-picker-container.hbs"}}

{{! BEGIN-SNIPPET date-picker-container }}
<div id="date-picker-container"></div>
{{! END-SNIPPET }}

<p>
  Then specify the element id to the <code>to</code> property of the <code>InputDateComponent</code>.
</p>
{{code-snippet name="input-date-destinationElementId.hbs"}}

{{! BEGIN-SNIPPET input-date-destinationElementId }}
{{input-date to="date-picker-container"}}
{{! END-SNIPPET }}

<p>This will position the date picker at the bottom/left corner of the destination element specified.</p>

<p>
  You can set the <code>setPositionByCursor</code> attribute to <code>true</code>
  to have the date picker positioned at the mouse position.
</p>

{{code-snippet name="input-date-position-by-cursor.hbs"}}

{{! BEGIN-SNIPPET input-date-position-by-cursor }}
{{input-date setPositionByCursor=true to="date-picker-container"}}
{{! END-SNIPPET }}

<p>
  For more information on <code>ember-wormhole</code>, click <a href="https://github.com/yapplabs/ember-wormhole">here</a>.
</p>

<hr>

<h2>placeholder</h2>

<p>
  Set the <code>placeholder</code> attribute of the InputDateComponent.
</p>

{{code-snippet name="input-date-placeholder.hbs"}}

{{! BEGIN-SNIPPET input-date-placeholder }}
{{input-date placeholder="Placeholder text..."}}
{{! END-SNIPPET }}

<hr>

<h2>disabled</h2>

<p>
  Set the <code>disabled</code> property of the InputDateComponent.
</p>

{{code-snippet name="input-date-disabled.hbs"}}

{{! BEGIN-SNIPPET input-date-disabled }}
{{input-date disabled=true}}
{{! END-SNIPPET }}

<div class="date-picker-container"></div>
