<h2><code>&#123;&#123;input-date&#125;&#125;</code></h2>

<p>
  The InputDateComponent provides an <code>input</code> element and a {{#link-to 'date-picker'}}DatePickerComponent{{/link-to}} in one.
</p>

<h3>Basic use</h3>

{{code-snippet name="input-date.hbs"}}

{{! BEGIN-SNIPPET input-date }}
{{input-date}}
{{! END-SNIPPET }}

<h3>Advanced use</h3>

{{code-snippet name="input-date-advanced.hbs"}}

<hr>

<h2>value</h2>

<p>
  You can bind to the <code>value</code> property of the InputDateComponent as you would with any HTML <code>input</code> element.
</p>

{{code-snippet name="input-date-value.hbs"}}

{{! BEGIN-SNIPPET input-date-value }}
{{input-date value=date}}
{{! END-SNIPPET }}

<p>
  <code>date</code>:{{date}}
</p>

<hr>

<h2>displayFormat</h2>

<p>
  Set the <code>displayFormat</code> property of the InputDateComponent.
</p>

{{code-snippet name="input-date-display-format.hbs"}}

{{! BEGIN-SNIPPET input-date-display-format }}
{{input-date displayFormat="DD/MM/YYYY"}}
{{! END-SNIPPET }}

{{code-snippet name="input-date-display-format-example.hbs"}}

{{! BEGIN-SNIPPET input-date-display-format-example }}
{{input-date displayFormat="MMM Do YY"}}
{{! END-SNIPPET }}

<hr>

<h2>format</h2>

<p>
  Set the <code>format</code> property of the InputDateComponent.
</p>

<ul>
  <li>
    <h3>date</h3>

    <p>This is the default.</p>

    {{code-snippet name="input-date-format-date.hbs"}}

    {{! BEGIN-SNIPPET input-date-format-date }}
    {{input-date value=date format="date"}}
    {{! END-SNIPPET }}

    <p>
      date: {{date}}
    </p>
  </li>
  <li>
    <h3>timestamp</h3>

    {{code-snippet name="input-date-format-timestamp.hbs"}}

    {{! BEGIN-SNIPPET input-date-format-timestamp }}
    {{input-date value=timestamp format="timestamp"}}
    {{! END-SNIPPET }}

    <p>
      timestamp: {{timestamp}}
    </p>
  </li>
  <li>
    <h3>object</h3>

    {{code-snippet name="input-date-format-object.hbs"}}

    {{! BEGIN-SNIPPET input-date-format-object }}
    {{input-date value=obj format="object"}}
    {{! END-SNIPPET }}

    <p>
      <div>obj.year: {{obj.year}}</div>
      <div>obj.month: {{obj.month}}</div>
      <div>obj.date: {{obj.date}}</div>
    </p>
  </li>
  <li>
    <h3>YYYY-MM-DD</h3>

    {{code-snippet name="input-date-format-custom.hbs"}}

    {{! BEGIN-SNIPPET input-date-format-custom }}
    {{input-date value=string format="YYYY-MM-DD"}}
    {{! END-SNIPPET }}

    <p>
      string: {{string}}
    </p>
  </li>
</ul>

<hr>

<h2>disabled</h2>

<p>
  Set the <code>disabled</code> property of the InputDateComponent.
</p>

{{code-snippet name="input-date-disabled.hbs"}}

{{! BEGIN-SNIPPET input-date-disabled }}
{{input-date disabled=true}}
{{! END-SNIPPET }}

<div class="date-picker-container"></div>
