{{#link-to 'index'}}Index{{/link-to}}

<h2><code>&#123;&#123;time-picker&#125;&#125;</code></h2>

<h3>Basic use</h3>

<p>You can create a time-picker with the TimePickerComponent.</p>

{{code-snippet name="time-picker-basic.hbs"}}

<div class="time-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET time-picker-basic }}
    {{time-picker}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>

<h3>Advanced use</h3>

{{code-snippet name="time-picker-advanced.hbs"}}

<h2>Properties</h2>

<ul>
  <li>select</li>
  <li>selectedTime</li>
  <li>output</li>
  <li>displayFormat</li>
  <li>timeInterval</li>
  <li>scrollToSelectedTime</li>
  <li>close</li>
</ul>

<hr>

<h2>select</h2>
<p>Provide an action to the time-picker's <code>select</code> action</p>

<p>controller/component.js</p>
{{code-snippet name="time-picker-actions.js"}}

<p>template.hbs</p>
{{code-snippet name="time-picker-select.hbs"}}


<div class="time-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET time-picker-select }}
    {{time-picker select=(action "selectTime")}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>
<p><code>selection</code>: {{selection}}</p>

<hr>

<h2>seletedTime</h2>

<p>
  To highlight the selected time, you can bind the <code>selectedTime</code>
  property to the <code>selection</code>.
</p>

{{code-snippet name="time-picker-selected-time.hbs"}}

<div class="time-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET time-picker-selected-time }}
    {{time-picker selectedTime=selection select=(action "selectTime")}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>
<p><code>selection</code>: {{selection}}</p>

<hr>

<h2>output</h2>

<p>
  You can choose to output the time as a javascript <code>Date</code> object (the
  default), a timestamp, or an <code>Ember.Object</code> with properties for
  <code>hour</code> and <code>minute</code>.
</p>

<ul>
  <li>
    <h3><code>output="date"</code></h3>
    <p>A javascript <code>Date()</code> object. This is the default.</p>
    {{code-snippet name="time-picker-output-date.hbs"}}

    <div class="time-picker-container">
      {{#lazy-load}}
        {{! BEGIN-SNIPPET time-picker-output-date }}
        {{time-picker output="date" select=(action "selectTime")}}
        {{! END-SNIPPET }}
      {{/lazy-load}}
    </div>
    <p><code>selection</code>: {{selection}}</p>
    <hr>
  </li>
  <li>
    <h3><code>output="timestamp"</code></h3>
    <p>An Integer timestamp.  Number of seconds.</p>
    {{code-snippet name="time-picker-output-timestamp.hbs"}}

    <div class="time-picker-container">
      {{#lazy-load}}
        {{! BEGIN-SNIPPET time-picker-output-timestamp }}
        {{time-picker output="timestamp" select=(action "selectTime")}}
        {{! END-SNIPPET }}
      {{/lazy-load}}
    </div>
    <p><code>selection</code>: {{selection}}</p>
    <hr>
  </li>
  <li>
    <h3><code>output="object"</code></h3>
    <p>An <code>Ember.Object</code> with <code>hour</code> and <code>minute</code> properties.</p>
    {{code-snippet name="time-picker-output-object.hbs"}}

    <div class="time-picker-container">
      {{#lazy-load}}
        {{! BEGIN-SNIPPET time-picker-output-object }}
        {{time-picker output="object" select=(action "selectTime")}}
        {{! END-SNIPPET }}
      {{/lazy-load}}
    </div>
    <p>
      <code>selection.hour</code>: {{selection.hour}}<br>
      <code>selection.minute</code>: {{selection.minute}}
    </p>
  </li>
</ul>

<hr>

<h2>displayFormat</h2>

<p>
  The default <code>displayFormat</code> is <code>hh:mm a</code> (12 hour clock).  To use a 24 hour clock set the <code>displayFormat</code> to <code>HH:mm</code>.
</p>

{{code-snippet name="time-picker-format.hbs"}}

<div class="time-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET time-picker-format }}
    {{time-picker displayFormat='HH:mm'}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>

<hr>

<h2>timeInterval</h2>

<p>
  The default time interval is set to 30 minutes.  This can be be changed by
  setting the `timeInterval` property.  Values between 1 and 59 are valid.
</p>

{{code-snippet name="time-picker-time-interval-20.hbs"}}

<div class="time-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET time-picker-time-interval-20 }}
    {{time-picker timeInterval=20}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>

{{code-snippet name="time-picker-time-interval-5.hbs"}}

<div class="time-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET time-picker-time-interval-5 }}
    {{time-picker timeInterval=5}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>

<hr>

<h2>scrollToSelectedTime</h2>

<p>
  When <code>true</code>, the default, the time picker will scroll to display
  the selected time when inserted into the DOM.  If that is not the desired behaviour
  then you can set <code>scrollToSelectedTime</code> to <code>false</code>.
</p>

{{code-snippet name="time-picker-scroll-false.hbs"}}

<div class="time-picker-container">
  {{#lazy-load}}
    {{! BEGIN-SNIPPET time-picker-scroll-false }}
    {{time-picker scrollToSelectedTime=false}}
    {{! END-SNIPPET }}
  {{/lazy-load}}
</div>

<hr>

<h2>close</h2>
{{#lazy-load}}
  {{time-picker-close}}
{{/lazy-load}}
